body {
    font-family: 'Roboto', sans-serif;
    dispLay: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100vw;
}

.header-logo {
  width: 260px;
  height: 180px; 
}

.header-links {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
}

li {

    list-style: none;
}

a {
    color: #E6E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    background: #1F2937;
    font-size: 48px;
    font-weight: 900;
    gap: 150px;
    justify-content: center;
    padding-bottom: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.title-subtext {
    display: flex;
    font-size: 18px;
    color: #E6E7EB;
}

.hero button {
   background: #3882F6;
   width: 150px;
   border-radius: 10px;
   padding: 10px;
   font-size: 18px;
   font-weight: bold;
   color: #E6E7EB;
}

.hero-logo {
    display: flex;
    font-size: 24px;
    height: 200px;
    width: 500px;
    color: #F9FAF8;
    background: lightgray;
    margin-bottom: 15px;
}

.info-header {
    display: flex;
    flex-direction: column;
    background: #F9FAF8;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    width: 100vw;
    height: 35vh;
    align-items: center;
}

.info-title {
    display: flex;
}

.info-logo-container {
    display: flex;
    background: #F9FAF8;;
    gap: 30px;
    justify-content: center;
}

.info-logo {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100px;
    border: solid #3882F6 3px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.info-logo img {
    display: flex;
    width: 130px;
    height: auto;
}

.info-logo div {
    font-size: 15px;
    color: #1F2937;
}

.image-one,
.image-two {
    margin-top: 50px;
    padding: 13px;
}

.image-three {
    padding: 5px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.image-four {
    margin-top: 35px;
    padding: 10px;
}

.quotes {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 45vh;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    background: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quotes-container {
    width: 60vw;
}

.quotes-container div {
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
}

.call-to-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 900px;
    height: 130px;
    background: #3882F6;
    color: #F0FAF8;
}

.footer button {
    background: #3882F6;
    width: 130px;
    height: 40px;
    border: solid 3px #E6E7EB;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #E6E7EB;  
}