body {
    font-family: 'Roboto', sans-serif;
    dispLay: flex;
    gap: 10px;
    flex-direction: column;
    background: #1F2937;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    background: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100vw;
}

.header-logo {
  display: flex;
}

img {
  width: 300px;
  height: 220px;
   
}

.header-links {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
}

li {

    list-style: none;
}

a {
    color: #E6E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    gap: 150px;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.title-subtext {
    display: flex;
    font-size: 18px;
    color: #E6E7EB;
}

button {
   background-color: #3882F6;
   width: 150px;
   border-radius: 10px;
   padding: 10px;
   font-size: 18px;
   font-weight: bold;
   color: #E6E7EB;
}

.hero-logo {
    display: flex;
    font-size: 24px;
    height: 200px;
    width: 500px;
    color: #F9FAF8;
    background: lightgray;
}